mixin dropdown(instance, type)
    - const roomArray = ['0 спален, 0 кроватей','СПАЛЬНИ', 'КРОВАТИ', 'ВАННЫЕ КОМНАТЫ']
    - const guestsArray = ['Сколько гостей?','ВЗРОСЛЫЕ', 'ДЕТИ', 'МЛАДЕНЦЫ']
    //style="display:none"
    div(class="js-dropdown_instance-" + instance +"_type hide" )= type
    div(class="dropdown js-dropdown_instance-" + instance)
        div(class="dropdown__button js-dropdown_instance-" + instance + "__button")
            span(class="dropdown__text js-dropdown_instance-" + instance + "__text")= type? roomArray[0]:guestsArray[0]
            span(class="dropdown__img-box js-dropdown_instance-" + instance + "__img-box")
                img(src='./img/dropdown.svg' alt='open' width='13' height='8')
    div(class="dropdown__popup js-dropdown_instance-" + instance + "__popup hide")
        span(class="dropdown__option-text js-dropdown_instance-" + instance + "__option-text")= type? roomArray[1]:guestsArray[1]
        span(class="dropdown__decrease js-dropdown_instance-" + instance + "__decrease1")
            img(src='./img/minus.svg' alt='minus' width='13' height='8')
        span(class="dropdown__counter js-dropdown_instance-" + instance + "__counter1") 0
        span(class="dropdown__increase js-dropdown_instance-" + instance + "__increase1")
            img(src='./img/plus.svg' alt='plus' width='13' height='8')
        span(class="dropdown__option-text js-dropdown_instance-" + instance + "__option-text")= type? roomArray[2]:guestsArray[2]
        span(class="dropdown__decrease js-dropdown_instance-" + instance + "__decrease2")
            img(src='./img/minus.svg' alt='minus' width='13' height='8')
        span(class="dropdown__counter js-dropdown_instance-" + instance + "__counter2") 0
        span(class="dropdown__increase js-dropdown_instance-" + instance + "__increase2")
            img(src='./img/plus.svg' alt='plus' width='13' height='8')
        span(class="dropdown__option-text js-dropdown_instance-" + instance + "__option-text")= type? roomArray[3]:guestsArray[3]
        span(class="dropdown__decrease js-dropdown_instance-" + instance + "__decrease3")
            img(src='./img/minus.svg' alt='minus' width='13' height='8')
        span(class="dropdown__counter js-dropdown_instance-" + instance + "__counter3") 0
        span(class="dropdown__increase js-dropdown_instance-" + instance + "__increase3")
            img(src='./img/plus.svg' alt='plus' width='13' height='8')
        if (!type)
            .dropdown__adding-buttons
                span(class="dropdown__clear js-dropdown_instance-" + instance + "__clear invisible") ОЧИСТИТЬ
                span(class="dropdown__apply js-dropdown_instance-" + instance + "__apply") ПРИМЕНИТЬ

      


//- mixin dropdown-guests
//-     .dropdown-guests js-dropdown_instance-" + instance + "-guests
//-         .dropdown__button js-dropdown_instance-" + instance + "__button
//-             span(class="dropdown__text js-dropdown_instance-" + instance + "__text Сколько гостей
//-             span(class="dropdown__img-box js-dropdown_instance-" + instance + "__img-box
//-                 img(src='./img/dropdown-guests.svg' alt='some some' width='13' height='8')
//-     .dropdown__popup js-dropdown_instance-" + instance + "__popup.hide
//-         span(class="dropdown__option-text js-dropdown_instance-" + instance + "__option-text Взрослые
//-         span(class="dropdown__decrease js-dropdown_instance-" + instance + "__decrease1
//-             img(src='./img/minus.svg' alt='some some' width='13' height='8')
//-         span(class="dropdown__counter js-dropdown_instance-" + instance + "__counter1 0
//-         span(class="dropdown__increase js-dropdown_instance-" + instance + "__increase1
//-             img(src='./img/plus.svg' alt='some some' width='13' height='8')
//-         span(class="dropdown__option-text js-dropdown_instance-" + instance + "__option-text Дети
//-         span(class="dropdown__decrease js-dropdown_instance-" + instance + "__decrease2
//-             img(src='./img/minus.svg' alt='some some' width='13' height='8')
//-         span(class="dropdown__counter js-dropdown_instance-" + instance + "__counter2 0
//-         span(class="dropdown__increase js-dropdown_instance-" + instance + "__increase2
//-             img(src='./img/plus.svg' alt='some some' width='13' height='8')
//-         span(class="dropdown__option-text js-dropdown_instance-" + instance + "__option-text Младенцы
//-         span(class="dropdown__decrease js-dropdown_instance-" + instance + "__decrease3
//-             img(src='./img/minus.svg' alt='some some' width='13' height='8')
//-         span(class="dropdown__counter js-dropdown_instance-" + instance + "__counter3 0
//-         span(class="dropdown__increase js-dropdown_instance-" + instance + "__increase3
//-             img(src='./img/plus.svg' alt='some some' width='13' height='8')
