include ../../components/button/button
include ../../components/block-title/block-title
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/rate-button/rate-button


mixin room-card(img, number, isLux, price, rate, feedback)
    section.room-card-block
        .room-card__img-box 
            img(class=".room-card__img" src=`./img/${img}.png` alt='room-img' width='270' height='151')
            //- .img_2
            //-     img(class=".room-card__img" src=`./img/${img}.png` alt='room-img' width='270' height='151')
            //- .img_3
            //-     img(class=".room-card__img" src=`./img/${img}.png` alt='room-img' width='270' height='151')
            //- .img_4
            //-     img(class=".room-card__img" src=`./img/${img}.png` alt='room-img' width='270' height='151')
        .room-card__title-box 
            p.room-card__title-number-sign №
            p.room-card__title-number= number
            p.room-card__title-lux= isLux
            p.room-card__title-price= price
            p.room-card__title-in-a-day в сутки
        .room-card__line
        .room-card__rate-and-feeback-box
            +rate-button(rate)
            p.room-card__feedback_bold= feedback
            p.room-card__feedback_normal Отзывов
        
        

