include ../../components/button/button
include ../../components/logo-toxin/logo-toxin
include ../../components/subscription-text-field/subscription-text-field

mixin footer(isMobile)
    footer(class=`${isMobile}footer-block`)
        section(class=`${isMobile}footer-widgets`)
            section(class=`${isMobile}footer__logo-caption-container`)
                +logo-toxin()
                article(class=`${isMobile}footer__caption`) Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            section(class=`${isMobile}footer__group`)
                a(href="" class=`${isMobile}footer__group-title`) Навигация
                a(href="" class=`${isMobile}footer__link`) О нас
                a(href="" class=`${isMobile}footer__link`) Новости
                a(href="" class=`${isMobile}footer__link`) Cлужба поддержки
                a(href="" class=`${isMobile}footer__link`) Услуги              
            section(class=`${isMobile}footer__group`)
                a(href="" class=`${isMobile}footer__group-title`) О нас
                a(href="" class=`${isMobile}footer__link`) О сервисе
                a(href="" class=`${isMobile}footer__link`) Наша команда           
                a(href="" class=`${isMobile}footer__link`) Вакансии               
                a(href="" class=`${isMobile}footer__link`) Инвесторы
            section(class=`${isMobile}footer__group`)
                a(href="" class=`${isMobile}footer__group-title`) Служба поддержки
                a(href="" class=`${isMobile}footer__link`) Соглашения           
                a(href="" class=`${isMobile}footer__link`) Сообщества
                a(href="" class=`${isMobile}footer__link`) Связь с нами               
            section(class=`${isMobile}footer__group ${isMobile}footer__subscribe`)
                a(href="" class=`${isMobile}footer__group-title`) Подписка
                a(href="" class=`${isMobile}footer__caption`) Получайте специальные предложения и новости сервиса
                +subscription-text-field ('','email', 'Email')
        section(class=`${isMobile}footer-copyright-bar`)
            section(class=`${isMobile}footer-copyright-bar__text ${isMobile}footer__link`) Copyright © 2018 Toxin отель. Все права защищены.
            section(class=`${isMobile}footer-copyright-bar__social-networks`)
                img.logo-toxin__logo(src='./img/twitter.svg' alt='logo' width='24' height='24')
                img.logo-toxin__logo(src='./img/facebook.svg' alt='logo' width='24' height='24')
                img.logo-toxin__logo(src='./img/instagram.svg' alt='logo' width='24' height='24')
